

/* input[type=radio]:checked  input[type=radio]+label {
    background-color: red;
} */

input:checked + label {
    color: red;
    box-shadow: 0 0 0 3px orange;
  }

  input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
  }